* {
    font-family: 'Bellota Text', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

html, h1, h2, h3, h4, h5, h6 {
    color: #949090;
}

body {
    background: #c0bbbbb7;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

/* HEADER */

header {
    background: #000000b6;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
    padding: 16px;
}

header ul li a{
    font-weight:700;
    color: #949090;
    text-shadow: 1px 0 10px #918f92;
}

header ul li a:hover {
    transition: 0.3s;
    color: beige;
    text-shadow: 1px 0 10px #ffffff;
}


/* Стили TEST*/

.test-wrapper{
    height: 100%;
    display: flex;  
    justify-content: center;
}

.test-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.quiz-frame{
   border: 0;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.quiz__head{
   font-size: 20pt;
   margin: 10px;
   position: relative;
}
 
audio{
    width: 70%;
    height: 40px;
    position: inherit;
    margin: 10px;
}

.head__content{
    margin: 10px;
    padding: 5px;
    position: relative;   
    font-size: 30px;
}

.quiz__body{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    margin: 0px auto;
    width: 100%;
}

.buttons__content{
    border-style: solid;
    border-color: #6d3e99;
    border-radius: 25px;
    width: 100%;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px auto;
    padding: 2px;
    cursor: pointer;
}

.button{
   border: 0;
   border-radius: 17px;
   background: #6d3e99;
   color: #fff;
   width: 12%;
   height: 37px;
   font-size: 15pt;
   display: inline-block;
   cursor: pointer;
}

.button--active{
    opacity: 0.7;
    transition: 0.5ms;
}

.answers{
    margin: 10px auto;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.answer{
    border-style: solid;
    border-color: #6d3e99;
    border-radius: 26px;
    width: 12%;
    height: 40px;
    display: inline-block;
    cursor: pointer;
}

.full{
    display: contents;
}

.quiz__footer{
    position: inherit;
    bottom: 0;
    display: block;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
 }
  
.footer__content{
    margin: 5px;
    padding: 10px;
}

#show{
    border: 0;
    border-radius: 17px;
    background: #6d3e99;
    color: #fff;
    width: 110px;
    height: 45px;
    font-size: 15pt;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    display: none;
}

#progressbar{
    width: 0;
    max-width: 100%;
    height: 20px;
    background: #a41df2;
    box-shadow: 2px 14px 15px -7px rgba(243, 30, 250, 0.36);
    border-radius: 50px;
    transition: all 0.5s;
    display: none;
}

#results{
    font-size: 20pt;
    margin: 10px;
    position: relative;
}

.test-main__button{
    border: 0;
    border-radius: 17px;
    background: #6d3e99;
    color: #fff;
    width: 200px;
    height: 45px;
    font-size: 15pt;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    display: none;
}

.row{
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Стили INDEX*/

.index-wrapper{
    height: 100%;
    display: flex;  
    justify-content: center;
    flex-direction: column; 
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/piano.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro h1{
    text-align: center;
    color: beige;
}

.intro p{
    font-size: 30px;
    color: #d1d1d1;
    margin: 20px 0;
}

.index-main{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}


.index-main__button{
    border: 0;
    border-radius: 17px;
    background: #6d3e99;
    color: #fff;
    width: 200px;
    height: 45px;
    font-size: 25px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    display: block;
}

.index-main-training{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 760px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.index-main-training .row{
    flex-direction: initial;
}

.training-info{
    list-style: none;
    display: inline-block;
}

.training-info li{
    border: 2px solid #6d3e99;
    border-radius: 15px;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.training-info li:hover {
    background: #f5f0fb67;
    border: 2px solid #9c74c2;
}

.training-info li:before {
    display: block;
    height: 34px;
    width:41px;
    position: absolute;
    margin-left: -95.6%;
    content: "";
    background: #6d3e99;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.training-info li:hover:before {
    width:56px;
    background: #9c74c2;
}

.training-info li:after {
    display: block;
    position: absolute;
    margin-left: -85.8%;
    content: "";
    height: 0;
    width: 0;
    border: 17px solid transparent;
    border-left-color: #6d3e99;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
}

.training-info li:hover:after {
    margin-left: -83.8%;
    border-left-color: #9c74c2;
}

.index-main-training .row{
    position: relative;
    flex-direction: column;
}

.index-main-training .row:after{ 
    content: " ";
    background: #333333;
    width: 100%;
    height: 2px;
    margin: 20px 0 20px;
    position: initial;
}

.training-text{
    padding: 20px;
}

.training-img{
    padding-top: 10px;
}

img{
    width: 87%;
    padding-top: 10px;
}

.gif{
    width: 50%;
}

.rules-gif{
    width: 70%;
}

/* Обертка для правил*/

.index-main-rules{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: relative;
    margin: 20px;
}

.trapeze{
    width: 97%;
    height: 95%;
}

.index-main-rules .trapeze, 
.index-main-rules .trapeze:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.index-main-rules .trapeze, 
.index-main-rules .trapeze:nth-child(2) {
    filter: drop-shadow(2px 12px 15px rgba(0, 0, 0, 0.4));
}

.index-main-rules .trapeze:after{
    background: #6d3e99;
    clip-path: polygon(100% 0, 91% 91%, 13% 100%, 0 35%);
    content: "";
    transition: all .3s;
}

.index-main-rules .trapeze:nth-child(2):after {
    clip-path: polygon(3% 15%, 85% 15%, 70% 88%, 14% 87%);
    background: #c0bbbbf6;
}

.index-main-rules:hover .trapeze:nth-child(1):after {
    transform: rotate(3deg);
}

.index-main-rules .rules-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: fit-content;
    z-index: 1;
    margin: 0% 26% 0px 10%;
}

.index-main-rules .rules-info h2 {  
    text-transform: uppercase;
    color: #6d3e99;
    font-weight: bold;
    font-size: 50px; 
    margin: 6px;
}

.index-main-rules .rules-info .rules-text { 
    font-size: 24px; 
    margin: 12px 0;
}

.rules-link{
    animation: neon-1 .5s ease-in-out infinite alternate;
    display: contents;
    font-size: 30px;
}

/* Стили для LEVELS*/

.index-main__levels{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 15px;
}

.level__button{
    border: 0;
    border-radius: 17px;
    background: #6d3e99;
    color: #fff;
    width: 50%;
    height: 30px;
    cursor: pointer;
    font-size: 70%;
}

/* Всплывающее окно с результатами */

.modal{
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 65%;
    padding: 1.3rem;
    max-height: 100%;
    min-height: 250px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #edede2;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal .flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal p{
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}
.modal .results__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.modal .results__wrapper .row .col{
    font-size: 85%;
    padding: 5px;
}

.btn-close{
    background: #807c7cf1;
    border-radius: 50%;
    font-size: 25px;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden{
    display: none;
}

#start{
    border: 0;
    border-radius: 17px;
    background: #6d3e99;
    color: #fff;
    width: 300px;
    height: 45px;
    font-size: 20pt;
    cursor: pointer;
    margin: 20px;
}



/* @media (min-width: 1450px) and (max-width: 2560px) {

    *{
        font-size: 40px;
    }      
    header .container{
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 20%;
    }
    .col-4 h1{
        font-size: 100px;
    }
    header ul li {
        padding: 25px;
    }
    header ul li a,
    .intro p,
    .rules-link,
    .head__content{
        font-size: 45px;
    }
    .intro{
        height: 1000px;
    }
    #start {
        border-radius: 50px;
        width: 600px;
        height: 100px;
        font-size: 40px;
        cursor: pointer;
        margin: 20px;
    }
    .head__content{
        margin: 40px;
    }
    audio {
        width: 70%;
        height: 50px;
        position: inherit;
        margin: 10px;
    }   
    .buttons, 
    .answers{
        width: 100%;
        height: 70px;
        margin: 20px;
    }
    .buttons__content{
        width: 100%;
        height: 70px;
    }
    .button, 
    .answer{
        width: 10%;
        height: 40px;
    }
    .index-main__levels .row{
        margin: 20px;
    }
    .level__button{
        height: 50px;
    }
    

    .modal{
        padding: 15px;
    }
    .results__wrapper .row{
        --bs-gutter-x: 0.5rem;
    }
    .training-text,
    .results__wrapper .row .col,
    .btn-close,
    .index-main-rules .rules-info h3{
        font-size: 40px;
    }
    .index-main-rules .rules-info {
        margin: -3px 630px 0 160px;
    }
    .level__button,
    .index-main-rules .rules-info .rules-text{  
        font-size: 40px; 
    }
    .rules-info .rules-text:nth-child(2){
        padding-left: 30px;
    }
    .rules-info .rules-text:nth-child(3){
        padding-left: 40px;
    }
    .rules-info .rules-text:nth-child(4){
        padding-left: 100px;
        padding-right: 50px;
    }
    .rules-info .rules-text:nth-child(5){
        padding-left: 131px; 
        padding-right: 108px;
    }

}


@media (max-width: 1024px) {

    .modal{
        padding: 15px;
    }
    .results__wrapper .row{
        --bs-gutter-x: 0.5rem;
    }
    .results__wrapper .row .col,
    .btn-close,
    .index-main-rules .rules-info h3{
        font-size: 20px;
    }
    .index-main-rules .rules-info {
        margin: 18px 214px 0 24px;
    }
    .level__button,
    .index-main-rules .rules-info .rules-text{  
        font-size: 17px; 
    }
    .rules-info .rules-text:nth-child(2){
        padding-left: 30px;
    }
    .rules-info .rules-text:nth-child(3){
        padding-left: 40px;
    }
    .rules-info .rules-text:nth-child(4){
        padding-left: 100px;
        padding-right: 50px;
    }
    .rules-info .rules-text:nth-child(5){
        padding-left: 131px; 
        padding-right: 108px;
    }

}

@media (max-width: 768px) {
    
    *{
        font-size: 15px;
    }    
    .container .row{
        flex-wrap: nowrap
    }
    header, header .container, .container .row, .container .row .col{
        height: 40px;
    }

    h1{
        font-size: 40px;
        margin-top: 13px;
    }
    a{
        font-size: 20px;
    }
    .head__content{
        font-size: 17px;
    }
    .test-main{
        width: 75%;
    }
    .modal{
        padding: 15px;
    }
    .results__wrapper .row .col,
    .btn-close, 
    .training-text{
        font-size: 16px;
    }
    .index-main-rules .rules-info {
        margin: 25px 170px 0 10px;
    }
    .index-main-rules .rules-info h3,
    .intro p,
    .index-main-rules a{  
        font-size: 16px; 
    }
    .index-main-rules .rules-info .rules-text { 
        margin: 15px;
        font-size: 13px; 
    }
    audio{
        height: 25px;
    }
    .buttons, 
    .answers{
        width: 80%;
    }
    .buttons__content{
        width: 100%;
        height: 40px;
    }
    .button, 
    .answer{
        width: 12%;
        height: 24px;
    }
}

@media (max-width: 425px) {
    
    *{
        font-size: 14px;
    }    
    .container .row{
        flex-wrap: nowrap
    }
    header, header .container, .container .row, .container .row .col{
        height: 30px;
    }
    h1{
        font-size: x-large;
        margin-top: 13px;
    }
    a{
        font-size: 14px;
    }
    .col-8{
        width: 76%;
    }
    .head__content{
        font-size: 17px;
    }
    .test-main{
        width: 100%;
    }
    .modal{
        padding: 8px;
        width: 90%;
    }
    .results__wrapper .row .col,
    .btn-close, 
    .training-text{
        font-size: 10px;
    }
    .index-main-rules{
        margin-top: 20px;
    }
    .index-main-rules .rules-info {
        margin: 0px 10px 0 10px;
        justify-content: center;
    }
    .index-main-rules .rules-info h3,
    .intro p{  
        font-size: 16px; 
    }
    .index-main-rules .rules-info .rules-text { 
        font-size: 13px; 
    }
    audio{
        height: 25px;
    }
    .buttons, 
    .answers{
        width: 93%;
    }
    .buttons__content{
        width: 100%;
        height: 40px;
    }
    .button, 
    .answer{
        width: 12%;
        height: 23px;
    }
    .intro{
        text-align: center;
        height: 740px;
    }
    .index-main-training .row{
        flex-direction: column;
    }
    .index-main-rules .rules-info .rules-text,
    .index-main__levels .row .row .col{
        padding-left: 0px;
        padding-right: 0px;
    }
    .trapeze{
        display: none;
    }
    audio{
        width: 96%;
    }
    .index-main__levels{
        margin: 25px;
    }
    .level__button{
        width: 85%;
        font-size: 15px;
    }
    .index-main__levels .row{
        margin: 3px;
        --bs-gutter-x: -0.5rem;
    }
} */


@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(146, 107, 170, 0.92), 0 0 30px rgba(222, 202, 228, 0.34), 0 0 12px rgba(242, 191, 255, 0.52), 0 0 21px rgba(226, 191, 255, 0.92), 0 0 34px rgba(235, 191, 255, 0.78), 0 0 54px rgba(221, 191, 255, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(242, 191, 255, 0.52), 0 0 12px rgba(226, 191, 255, 0.92), 0 0 22px rgba(235, 191, 255, 0.78), 0 0 38px rgba(221, 191, 255, 0.92), 0 0 60px #FFF;
    }
}






audio::-webkit-media-controls,
video::-webkit-media-controls {
    width: inherit;
    height: inherit;
    position: relative;
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
audio::-webkit-media-controls-enclosure, video::-webkit-media-controls-enclosure {
    width: 100%;
    max-width: 800px;
    height: 30px;
    flex-shrink: 0;
    bottom: 0;
    text-indent: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: rgb(41, 40, 40);        
}
  
body::-webkit-scrollbar-thumb {
    background-color:#5c5b5b;    
    border-radius: 20px;       
}